# .dockerignore

**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.vs
**/.vscode
**/.sql
**/bin
**/obj
**/docker-compose.yml
**/docker-compose.*.yml
**/Dockerfile
**/Dockerfile.develop
**/README.md

# Exclude the entire test project folder from the build context
TransactionApi.Tests/